*{
  margin: 0;
  padding: 0;
}

.header-container{
  height: 200px;
  background-color: rgb(22, 22, 49);
  z-index: 1;

}
.banner-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  /* justify-content: center; */
  align-items: center;
}
.banner-image{
  width: 780px;
  margin-top: 70px;
}
.header-image{
  height: 85px;
  margin-left: 20px;
  margin-top: 10px;
}
h1{
  /* color: white; */
  font-size: 110px;
  margin-top: 60px;
}
.dropdown{
  height: 50px;
}
p{
  font-size: 30px;
  font-weight: bold;
}