@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-play {
    font-family: 'Libre Baskerville', serif;
}


.text-slab {
    font-family: 'Roboto Slab', serif !important;
}

.text-inter {
    font-family: 'Inter', sans-serif !important;
}
.ant-input-number,.ant-picker,.ant-input{
    border-radius: 3px !important;
}
.parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.item-feild{
    width: 49%;
    gap: 5px;
}
.text-hd{
    text-align: start;
}
.input-text{
    gap: 5px;
}
.text-aline-start{
    display: flex;
}
.w-100{
    width: 100% !important;
}
.btn {
    background: transparent !important;
}
.text-black{
    color: #000 !important;
}
label{
    font-family: 'Inter', sans-serif !important;
}
.ant-btn{
    border-radius: 3px !important;
    max-width: 150px;
    width: 100%;
    border-color: rgb(255 255 255 / 85%) !important;
    border: 2px solid;

}

.hero__title{
    font-size: 80px !important;
    margin-bottom: 10px !important;
}
.hero__para{
    font-size: 25px !important;
    font-weight: 600;
}

@media (max-width: 600px){
    .hero__title{
        font-size: 60px !important;
        margin-bottom: 10px !important;
    }
    .hero__para{
        font-size: 20px !important;
        font-weight: 600;
    }
}
/*.ant-btn:hover{*/
/*    box-shadow: 0 1.5px 0 rgb(255 255 255 / 75%) !important;*/
/*}*/

